.display-note{
    display:none;
}

.create-note-container{
    display: flex;
    flex-direction: column;    
    width: 100%;
    align-items: center;
    padding-top: 5%;
    height: 80%;
    overflow-y: scroll;
    
}

.create-note{
    border: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
    font-family: inherit;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
}

.add-note{
    width:50%;
    border: 1px solid silver;
    border-radius: 13px;
    padding: 3%;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.icon-design{
    color: #5f6368;
    height: 18px !important;
    margin: 3%;
}

#closeButton{
    border: none;
    background: transparent;
    font-size: 16px;
    color: #5f6368;
    font-family: initial;
    outline: none;
}

.display-notes{
    width: 100%;
    height: max-content;    
    flex-wrap: wrap;
    display: flex;
    padding: 6%
}

.notes-style{
    border:1px solid silver;
    margin: 2%;
    padding: 0;
    height: max-content;
}
.notes-style:hover{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}
.notes-title{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding: 5%;
}
.notes-body{
    padding: 5%;
    padding-bottom: 0;
    display: -webkit-box;
    overflow: hidden;
    text-align: justify;
    min-height: 40px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
.notes-footer{
    padding: 5%;
    padding-bottom: 0;
    display: flex;
    
}
.note-menu{
    margin: auto;
    margin-left: 0;
    color: #5f6368;
}

.color-chooser{
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius:12px ;
}
.color-chooser:hover{
    outline:auto;
}

@media screen and (max-width: 414px)
{
    .display-note{
        padding: 4%;
    }
    .notes-style{
        width: 100%;
    }
    .add-note{
        width: 82%;
    }
	
}