
 #button
 {
   padding:20%;
   border-radius:50%;
   background-color: white;
   border: none;
   outline: none;
 }

 .nav-title{
    width:15%;
    padding-left:1%;
    display:flex;
 }

#button:hover{
   
   background-color: whitesmoke;
}
.search-bar{
  display: flex;
  justify-content: flex-start;
  height: 45px;
  border-radius: 5px;
  width: 50%;
  background: whitesmoke;
}

.clear{
  height: 44px;
  width: 30px;
  margin-right: 2%;
  cursor: pointer;
}

.search-text{
  width: 85%;
  border: none;
  background-color: transparent;
  outline: none;
}
.search-logo{
    margin: auto;
    margin-left: 2%;
    margin-right: 4%;
}
.search-bar:hover,.search-text:hover{
  background-color: white;  
}
.search-bar:hover{
  border: 2px solid whitesmoke;
  box-shadow :2px 2px silver ;
}

.profile-details{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.profile-menu{
  width: 260px;
  height: 240px;
  margin-top: 10% !important;
  left: -300%;
  border-radius: 4%;
  box-shadow: -1px 9px 30px -13px rgba(0,0,0,0.75);
}

.drawar-position{
  position: absolute;
}
.profile-image{
    height: 30%;
    margin-top: 4%;
    width: 100%;    
    justify-content: center;
    display: flex;
}

.sign-out{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-button{
  background-color: transparent;
  border: none;
}

.drawar{
  display: flex;
  justify-content: flex-start;   
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.drawar-icon{
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.drawar-icon-contener-open{
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.icon{
  fill: #5f6368;
}

.icon-lable{
  margin-left: 12%;
  color: #5f6368;
}

.drawar-width{
  width:5%;
  height:89.2%;
  transition: 0.2s;
  background-color: white;
  z-index: 3;
  
}

.display-drawar{
  position: fixed;
  height:100.7%;
}
.drawar-width-open{
  width:15%;
  height:89.2%;
  transition: 0.2s;
  box-shadow: 5px 5px 5px 0px rgb(228 224 224);
  background-color: white;
  z-index: 3;
  
}

.drawar-width-open-relative{
  width:15%;
  height:100.2%;
  transition: 0.2s;
  box-shadow: 5px 5px 5px 0px rgb(228 224 224);
  background-color: white;
  z-index: 3;
}

.drawar-container{
  display:flex;
  height:89.2%;
}

.drawar-icon-open{
  fill: #5f6368;
  margin-left: 10%;
}

@media screen and (max-width: 1024px)
{
  .drawar-container{
    height:99.2%;
  }
  .drawar-width-open-relative{
    width:25%;
  }
  .drawar-width{
    width: 8%;
  }
  .drawar-width-open{
    width:20%;
    height:100.2%;
 
  }
	
}
@media screen and (max-width: 768px)
{

	.drawar-width-open{
    width:24%;     
  }
  .drawar-width-open-relative{
    width:30%;
  }
  .nav-title{
    width:20%;
 }
}
@media screen and (max-width: 540px)
{

  .nav-title{
      display:none;
  }
  .drawar-width-open-relative {
    width: 50%;
  }
  .drawar-width{
    width: 15%;
  }
  .drawar-width-open {
    width: 30%;
  }
  .card {
    width: 68%;
  }
  .search-bar{
    margin-left: 5%;
    width: 60%;
  }
}
@media screen and (max-width: 414px)
{

	.card{
		width: 66%;	
  }

.drawar-icon-open
  {
   height: 18px;
  }
.icon-lable
  {
    font-size: 12px;
  }
.icon
  {
    height: 18px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 375px)
{

	.card{
		width: 73%;	
	}
}

@media screen and (max-width: 320px)
{

	.card{
		width: 82%;	
  }

  
}

