.card-register{
    width:37%;
    padding:3%;
    border: 1px solid silver;
}
.register {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.register-text{
    font-family: sans-serif;
    font-size: 20px;
    padding-left:9px;
}

.helperText{
    display: flex;
    margin:0px;
    padding-left:2% ;
}
.helperTextForError{
    display: flex;
    margin:0px;
    font-size: 12px;
    color: red;
    padding-left:5% ;
}

.input-field{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    display: flex;
    justify-content: space-between;
    
}
.email-field{
    display:flex;
    height:43px;
    padding-left:2%;
    padding-right:2%;
    border:none;
}

@media screen and (max-width: 768px)
{

	.card-register{
        width:50%;        
    }
}
@media screen and (max-width: 540px)
{
    .card-register{
        width:70%;        
    }	
}

@media screen and (max-width: 414px)
{    
    .card-register{
        width: 100%;
        height: 731px;        
    }
    .register {        
        margin-top: 0px;
    }
    .name{
        flex-direction: column;
        height: 140px;
        justify-content: space-evenly;
    }
    .email-field{
        padding-left: 3%;
        padding-right: 3%;
        margin:20px 0 10px 0;
    }
    .helperText{
        padding-left: 3%;
        margin-top: 10px;        
    }

}
@media screen and (max-width: 411px){
    .card-register{        
        height: 823px;        
    }
}
@media screen and (max-width: 360px)
{
    .card-register{        
        height: 640px;        
    }
    .helperText{
        font-size: 14px;
    }
    .register-text{
        font-size: 16px;
    }
    .name{
        height: 155px;
    }
}
@media screen and (max-width:280px){

    .register-text{
        font-size: 16px;
    }
    .card-register{
        height: 653px;        
    }
    .helperText{
        font-size: 14px;
    }
    .name{
        height: 160px;
    }
}

