.update-title{
    width: 70%;
    margin-left: 2%;
}

.update-footer{
    display:flex;
    justify-content: space-between;
}
.update-note-description{
    font-size: 14px;
    font-style: system-ui;
    border: none;
    outline: none;
    font-weight: 400;
    font-family: system-ui;    
    padding-left: 3%;
    height: 50px;
}